@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

@if (User.Identity.IsAuthenticated)
{
    Response.Redirect("../../Home/Index");
}

<div  class="text-center mainContainer ">
    <h1 class="navLogo" style="font-size:4rem;">User System</h1>
    <br />
    <br />
    <br />
    <h2>Log in</h2>
    <br />
    <form class="form-group signForm" id="account" method="post">
        <div class="textForm">
            <label asp-for="Input.UserName"></label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            <input asp-for="Input.UserName" class="form-control" autocomplete="on" aria-required="true" />

            <br />

            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        </div>

        <br />

        <div class="checkbox">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>

        <br />

        <div>
            <button id="login-submit" type="submit" class="btn btn-outline-info">Log in</button>
        </div>
        @*validation*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
    <br />
    <p>New user? 
        <a  asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
            class="gitLink" 
            style="text-decoration:underline;">
            Sign up here
        </a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}