@page
@model ChangePasswordModel

@inject UserManager<AppUser> userManager


@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div  class="text-center margin-2-all">

    
    <div class="row">
        <div class="col-sm-5">
            <form class="form-group" id="change-password-form" method="post">
                <div class="textForm">
                    <label asp-for="Input.OldPassword"></label>
                    <div>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Your current password"/>

                    <br />
                    
                    <label asp-for="Input.NewPassword"></label>
                    <div>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Must be between 6-18 characters"/>

                    <br />
                
                    <label asp-for="Input.ConfirmPassword"></label>
                    <div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Must match with the one you entered above"/>
                </div>
                
                <br />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="submit" class="btn btn-outline-info" value="Save new password"/>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
